<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>319237667307-jvb7t0sugitmemif3p42imgg1ri8gpoq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.319237667307-jvb7t0sugitmemif3p42imgg1ri8gpoq</string>
	<key>API_KEY</key>
	<string>AIzaSyAb1XemaHuFNVmMmhsESiVdJ1lrU9qgDJo</string>
	<key>GCM_SENDER_ID</key>
	<string>319237667307</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.webopius.standUp</string>
	<key>PROJECT_ID</key>
	<string>stand-up-db428</string>
	<key>STORAGE_BUCKET</key>
	<string>stand-up-db428.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:319237667307:ios:5c2f05391bf740ff29c1ae</string>
</dict>
</plist>
